In [ ]:
# What Are Data Structures?
# Data structures are ways of organizing and storing data so that they
# can be accessed and modified efficiently.

# Why Should You, as a Developer, Learn Data Structures?
# The right data structure makes your code faster and more efficient.
# Most coding interviews and real-world challenges require solid data structure knowledge.
# Helps you organize code better and avoid messy or repeated logic.

# Python provides several built-in data structures
# List
# Tuple
# Set
# Dictionaries

In [ ]:
#python developer working in government org

#take a survey
#visit a village --> note down the age of people

#age=67
#age2=56
#..
#..
#age1000=16

#scenario no 2

In [ ]:
#List in Python
#List is a collection of data values [ data structure ]
#List is denoted by using [] square brackets / list()
#List is Mutable In Nature [changeable, modifiable, delete]
#List allows us to have duplicate elements
#List allows us to have different different data types

In [ ]:
#CREATE A LIST

list1 = [1,2,3,4,5,6,7,8,9,10]
print(type(list1))

list1 = [1,2,3,4,5,6,7,8]
print(type(list1))

#Empty List
list3 = []
print(type(list3))

<class 'list'>
<class 'list'>
<class 'list'>

In [ ]:
mylist = [10,20,30,40,50,60,70]
#10 20 30 40 50 60 70
#0  1  2  3  4  5  6
#-7 -6 -5 -4 -3 -2 -1

#Indexing and Slicing
print(mylist)
print(mylist[0])
print(mylist[1:6])
print(mylist[1:6:2])
print(mylist[-7])

[10, 20, 30, 40, 50, 60, 70]
10
[20, 30, 40, 50, 60]
[20, 40, 60]
10

In [ ]:
# List example
fruits = ["apple", "banana", "cherry", "apple"]
print(fruits)        # ['apple', 'banana', 'cherry', 'apple']
#                         0         1         2        3
print(fruits[1])     # banana
print(fruits[0])
print(fruits[3])

fruits.append("mango") # .append update the list of data in the fruits
print(fruits)        # ['apple', 'banana', 'cherry', 'apple', 'mango']

['apple', 'banana', 'cherry', 'apple']
banana
apple
apple
['apple', 'banana', 'cherry', 'apple', 'mango']

In [ ]:
#using for loop
mylist = [10,20,30,40,50,60,70]
for i in mylist:
  if i%3==0:
    print(i)

30
60

In [ ]:
mylist = [10,20,30,40,50,60,70]
# len() is built-in function that help us to count the number of element
print(len(mylist)) #kira berapa elemen dalam mylist

7

In [ ]:
mylist = [10,20,30,40,50,60,70]
for i in range(len(mylist)):
  print(f'Index {i} : {mylist[i]}')

Index 0 : 10
Index 1 : 20
Index 2 : 30
Index 3 : 40
Index 4 : 50
Index 5 : 60
Index 6 : 70

In [ ]:
#enumerate()
# built-in function which will show you index number and value

for i in enumerate(mylist):
  print(i)

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)
(5, 60)
(6, 70)

In [ ]:
for i,v in enumerate(mylist):
  print(f'Index {i} : {v}')

Index 0 : 10
Index 1 : 20
Index 2 : 30
Index 3 : 40
Index 4 : 50
Index 5 : 60
Index 6 : 70

In [ ]:
#List is mutable in nature (update the content/modify the content in the list)
mylist = [10, 20, 30, 40, 50, 60, 70, 10, 20, 30, 40, 40, 50, 50, 50, 50]
print(mylist)
mylist[3] = 400555
print(mylist)

[10, 20, 30, 40, 50, 60, 70, 10, 20, 30, 40, 40, 50, 50, 50, 50]
[10, 20, 30, 400555, 50, 60, 70, 10, 20, 30, 40, 40, 50, 50, 50, 50]

In [ ]:
#List Built-In Functions
#help(list)
mylist = [10, 20, 30, 40, 50, 60]

# a.) append(value)
# used to add a new element at the END of the List
print(mylist)
mylist.append(110)
print('After Append: ',mylist)

# b.) insert(indexNumber,value)
# used to add a new element at any Specific Position
mylist.insert(2,2000) #[index, no yang perlu ditukar]
print('After Insert: ',mylist)

# c.) pop(indexNumber)
#used to delete an element from the specified index number from the list
mylist.pop(2)
print('After Pop: ',mylist)


# d.) pop()
# if no argument is provided, it will delete the last element
mylist.pop()
print('After Pop: ',mylist)

# e.) remove(value)
mylist.remove(50)
print('After Remove: ',mylist)


#F) REVERSE()
mylist.reverse()    #PRINT(MYLIST[::-1])
print('After Reverse :', mylist)
print(mylist[::-1])

#g.) clear()
#it is used to delete all the element from list
mylist.clear()
print('After Clear :', mylist)

#h.) del keyword
del mylist

[10, 20, 30, 40, 50, 60]
After Append:  [10, 20, 30, 40, 50, 60, 110]
After Insert:  [10, 20, 2000, 30, 40, 50, 60, 110]
After Pop:  [10, 20, 30, 40, 50, 60, 110]
After Pop:  [10, 20, 30, 40, 50, 60]
After Remove:  [10, 20, 30, 40, 60]
After Reverse : [60, 40, 30, 20, 10]
[10, 20, 30, 40, 60]
After Clear : []

In [ ]:
list = [1, 2, 1, 1, 1, 1, 1]
list.remove(1) #the list will remove the first occurance dekat index 0
print(list)
#if nak remove all, need to use while loop

while 1 in list:
  list.remove(1)
  print(list)

[2, 1, 1, 1, 1, 1]
[2, 1, 1, 1, 1]
[2, 1, 1, 1]
[2, 1, 1]
[2, 1]
[2]

In [ ]:
list = [10,20,30,40,10,10,10,50,60,70,10,80,10]
list.remove(10) #? which 10 will it remove
# it will the first occurence of 10
# [20,30,40,10,10,10,50,60,70,10,80,10]
while 10 in list:
  list.remove(10)
  print(list)

[20, 30, 40, 10, 10, 50, 60, 70, 10, 80, 10]
[20, 30, 40, 10, 50, 60, 70, 10, 80, 10]
[20, 30, 40, 50, 60, 70, 10, 80, 10]
[20, 30, 40, 50, 60, 70, 80, 10]
[20, 30, 40, 50, 60, 70, 80]

#homework, cuba replace 10 to 5

In [ ]:
#Method 1: Loop with index
numbers = [10,20,30,40,10,10,10,50,60,70,10,80,10]

for i in range(len(numbers)):
    if numbers[i] == 10:
        numbers[i] = 5   # replace 10 with 5

print(numbers)
# [5, 20, 30, 40, 5, 5, 5, 50, 60, 70, 5, 80, 5]

[5, 20, 30, 40, 5, 5, 5, 50, 60, 70, 5, 80, 5]

In [ ]:
#2 Method 2: List comprehension
numbers = [10,20,30,40,10,10,10,50,60,70,10,80,10]

numbers = [5 if x == 10 else x for x in numbers]

print(numbers)
# [5, 20, 30, 40, 5, 5, 5, 50, 60, 70, 5, 80, 5]

[5, 20, 30, 40, 5, 5, 5, 50, 60, 70, 5, 80, 5]

In [ ]:
#Method 3: Using enumerate() (more explicit)

numbers = [10,20,30,40,10,10,10,50,60,70,10,80,10]

for idx, val in enumerate(numbers):
    if val == 10:
        numbers[idx] = 5

print(numbers)
# [5, 20, 30, 40, 5, 5, 5, 50, 60, 70, 5, 80, 5]

[5, 20, 30, 40, 5, 5, 5, 50, 60, 70, 5, 80, 5]

In [ ]:
#i.) sort() #ASCENDING ORDER (by def)
mylist = [7, 8, 1, 3, 6, 9, 5, 2, 4, 10]
print(mylist)
mylist.sort() #this will sort first. by default it will sort by ascending order
print('After Sort: ',mylist)

[7, 8, 1, 3, 6, 9, 5, 2, 4, 10]
After Sort:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#i.) sort() #DESCENDING ORDER
mylist = [7, 8, 1, 3, 6, 9, 5, 2, 4, 10]
print(mylist)
mylist.sort(reverse = True)
print('After Sort: ',mylist)

[7, 8, 1, 3, 6, 9, 5, 2, 4, 10]
After Sort:  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
fruits = ["cherry","apple","grapes","durian","banana"]
fruits.sort()
print(fruits)

['apple', 'banana', 'cherry', 'durian', 'grapes']

In [ ]:
# USE WHILE LOOP WHEN NUMBER OF ITERATIONS ARE NOT FIXED
howManySubjects = int(input('Enter How Many Subjects Marks You Wish To Insert : '))
i = 1
while i<=howManySubjects:
  marks = int(input(f'Enter Marks For Subject {i} : '))
  i += 1

Enter How Many Subjects Marks You Wish To Insert : 1
Enter Marks For Subject 1 : 45

In [ ]:
faculty_marks = []
howManySubjects = int(input('Enter How Many Subjects Marks You Wish To Insert : '))
i = 1
while i<=howManySubjects:
  marks = int(input(f'Enter Marks For Subject {i} : '))
  faculty_marks.append(marks)  #append untuk masukkan nombor dalam  []
  i += 1

print(faculty_marks)

Enter How Many Subjects Marks You Wish To Insert : 1
Enter Marks For Subject 1 : 45
[45]

In [ ]:
#Tuple In Python
# Tuple is a collection of data values [ data structure ]
# Tuple is denoted by using () parenthesis / tuple()
# Tuple is Immutable In Nature
# Tuple allows us to have duplicate elements
# Tuple allows us to have diff diff data types

# Create a tuple
tuple1 = (1,2,3,4,5,6,7,8,9,10)
print(type(tuple1))

tuple2 = tuple((1,2,3))
print(type(tuple2))

tuple3 = ()
print(type(tuple3))


#tuple boleh guna sama mcm in list

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
# determine the data type of following variable
myvar = 'Python', 31, 89.21, True
print(type(myvar))

<class 'tuple'>

In [ ]:
#how to define tuple having one element
var1= (45) #int
print(type(var1))

var1= (45,) #int
print(type(var1))
print(var1)

<class 'int'>
<class 'tuple'>
(45,)

In [ ]:
# Tuple is Immutable
#mytuple = (10,20,30,40,50,60,70)
#print(mytuple)
#mytuple[3] = 400
#print(mytuple)

In [ ]:
#len()
mytuple = (10,20,30,40,50,60,70,10,10,20,10,10,30,30)
print(len(mytuple))

#count(value) it is used to count the occurence of specified value
print(mytuple.count(10)) #how many 10 exist in the mytuple

#index(value) it will return the index no. of specified value
print('Index no. of 70 is', mytuple.index(70)) #index number of 70 is 6

print(mytuple.index(30)) #if 30 dia appear start no 30 keluar

14
5
Index no. of 70 is 6
2

In [ ]:
numbers = (7,8,1,3,6,5,2,4,10)
print(sorted(numbers)) #output dia dalam list
print(sorted(numbers,reverse=True)) #output dia dalam list

[1, 2, 3, 4, 5, 6, 7, 8, 10]
[10, 8, 7, 6, 5, 4, 3, 2, 1]

tuple(10,20,30)
make this mutable in nature

list(tuple)

tuple(list)

In [ ]:
#Set
#Set is an unordered collection of data values
#Set does not allow us to have duplicate values
#Set is denoted by using {} set()
#(10, 20, 30)
# 0   1    2

#[10, 20, 30]
# 0    1   2


set1 = {10,20,30,40, 40, 30}
print(type(set1))
print(set1) #no duplicate value in set


set2 = set()
print(type(set2))

<class 'set'>
{40, 10, 20, 30}
<class 'set'>

In [ ]:
list1 = [10,20,30,10,30,40,50,20,60,70]

#WAP to print the number of unique values in a list

print('No of Unique Elements',len(set(list1)))

No of Unique Elements 7

In [ ]:
list1 = [10,20,30,10,30,40,50,20,60,70]
# WAP to print the no. of unique values in a List
empty_list = []                                          # empty_list = []
for i in list1:                                          # i --> 10
  if i not in empty_list:                                # whether 10 does not exist in empty_list FALSE
    empty_list.append(i)                                 # empty_list = [10,20,30]

print('No. Of Unique Elements',len(empty_list))
print(empty_list)

No. Of Unique Elements 7
[10, 20, 30, 40, 50, 60, 70]

In [ ]:
pip install ordered-set

Collecting ordered-set
  Downloading ordered_set-4.1.0-py3-none-any.whl.metadata (5.3 kB)
Downloading ordered_set-4.1.0-py3-none-any.whl (7.6 kB)
Installing collected packages: ordered-set
Successfully installed ordered-set-4.1.0

In [ ]:
letters = OrderedSet('abracadabra')
print(letters)

NameError: name 'OrderedSet' is not defined

In [ ]:
#Dictionary
#use to hold the information in a key: value pair format
#denoted by using {} / dict()
#dictionary is mutable

emp_info = { "id":101, "empname": "John", "dept": "IT", "sal": 5600,
            "email": "j@gmail.com", "city": "klang", "mobno": 6012345}
print(type(emp_info))
print(emp_info)

print(emp_info["sal"])
print(emp_info["mobno"])

#get(keyname)
print(emp_info.get("sal"))
print(emp_info.get("mobno"))


#in dict we cant use slicing
#print(emp_info.get("sal":"mobno")),
# cannot use slicing in code, tapi boleh guna in panda (python library)

<class 'dict'>
{'id': 101, 'empname': 'John', 'dept': 'IT', 'sal': 5600, 'email': 'j@gmail.com', 'city': 'klang', 'mobno': 6012345}
5600
6012345
5600
6012345

In [ ]:
emp_info = {"id":[101,102,103],
            "name":['John','Alex','Smith'],
            "dept":['IT','HR','FN']}
print(type(emp_info))
print(emp_info)

print(emp_info["name"])
print(emp_info.get("dept"))

print(emp_info["name"][1])


import pandas as pd
data = pd.DataFrame(emp_info)
data

<class 'dict'>
{'id': [101, 102, 103], 'name': ['John', 'Alex', 'Smith'], 'dept': ['IT', 'HR', 'FN']}
['John', 'Alex', 'Smith']
['IT', 'HR', 'FN']
Alex

    id   name dept
0  101   John   IT
1  102   Alex   HR
2  103  Smith   FN

In [ ]:
emp_info = {"id":101,"empname":"John","dept":"IT",
            "sal":5600,"email":"j@gmail.com","city":"Klang",
            "mobno":60132324}

print(emp_info)

#add a new key: value pair
emp_info["citizenship"] = "Malaysia" #key: value pair
print(emp_info)

{'id': 101, 'empname': 'John', 'dept': 'IT', 'sal': 5600, 'email': 'j@gmail.com', 'city': 'Klang', 'mobno': 60132324}
{'id': 101, 'empname': 'John', 'dept': 'IT', 'sal': 5600, 'email': 'j@gmail.com', 'city': 'Klang', 'mobno': 60132324, 'citizenship': 'Malaysia'}

In [ ]:
#pop("keyname") used to delete a key:value pair
emp_info.pop("citizenship") #remove the citizenship; keyname
print(emp_info)

{'id': 101, 'empname': 'John', 'dept': 'IT', 'sal': 5600, 'email': 'j@gmail.com', 'city': 'Klang', 'mobno': 60132324}

In [ ]:
#updating value
emp_info['sal']=6000
print(emp_info)

{'id': 101, 'empname': 'John', 'dept': 'IT', 'sal': 6000, 'email': 'j@gmail.com', 'city': 'Klang', 'mobno': 60132324}

In [ ]:
#update key
emp_info['empid'] = emp_info.pop('id')
print(emp_info)

{'empname': 'John', 'dept': 'IT', 'sal': 6000, 'email': 'j@gmail.com', 'city': 'Klang', 'mobno': 60132324, 'empid': 101}

In [ ]:
emp_info = {"id":101,"empname":"John","dept":"IT",
            "sal":5600,"email":"j@gmail.com","city":"Klang",
            "mobno":60132324}

 #print the keys only
for i in emp_info:
  print(i)

id
empname
dept
sal
email
city
mobno

In [ ]:
emp_info = {"id":101,"empname":"John","dept":"IT",
            "sal":5600,"email":"j@gmail.com","city":"Klang",
            "mobno":60132324}

 #print the values
for i in emp_info.values():
  print(i)

101
John
IT
5600
j@gmail.com
Klang
60132324

In [ ]:
#print key value together
for k,v in emp_info.items():
  print(k,v, sep=':')

id:101
empname:John
dept:IT
sal:5600
email:j@gmail.com
city:Klang
mobno:60132324

In [ ]:
# NESTED LIST COMPREHENSION
#[[expression for item in inner_iterable] for item in outer_iterable]
# create a new list showing the square of mentioned numbers

numbers = [2,3,4,5,6,7,8,9,10]
sq_nums = []
for i in numbers:
  sq_nums.append(i**2)
print(sq_nums)

[4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#write like this instead of previous cell
numbers = [2,3,4,5,6,7,8,9,10]
sq_nums = [i**2 for i in numbers]
print(sq_nums)

[4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
numbers = [10,45,56,67,89,34,99]
# create a new list showing numbers greater than 55
empty_list = []
for i in numbers:
  if i>55:
    empty_list.append(i)
print(empty_list)

[56, 67, 89, 99]

In [ ]:
numbers = [10,45,56,67,89,34,99]
# create a new list showing numbers greater than 55
empty_list = []
for i in numbers:
  if i>55:
    empty_list.append(i)
print(empty_list)

[56, 67, 89, 99]

In [ ]:
numbers = [10,45,56,67,89,34,99]
empty_list = [i for i in numbers if i>55]
print(empty_list)

[56, 67, 89, 99]

In [ ]:
list1 = [10,20,30,10,30,40,50,20,60,70]
# WAP to print the no. of unique values in a List
empty_list = []
for i in list1:
  if i not in empty_list:
    empty_list.append(i)
print(empty_list)

[10, 20, 30, 40, 50, 60, 70]

In [ ]:
#line 78

In [ ]:
list1 = [10,20,30,10,30,40,50,20,60,70]
empty_list =[]
[empty_list.append(i) for i in list1 if i not in empty_list]
print(empty_list)

[10, 20, 30, 40, 50, 60, 70]

In [ ]:
normal_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even_squares = [i ** 2 for i in normal_list if i % 2 == 0]
print(even_squares)

[4, 16, 36, 64]

![image.png]()

In [ ]:
#NESTED list exercise

#nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]

#create a new list, show the square of a number if num is even

#newList = [4, 16, 36, 64]


#1) write
#for i in nums:
  #if

#2) nested list comprehension

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
newList = []

for i in nums:
  if i%2==0:
    newList.append(i**2)
print(newList)

[4, 16, 36, 64]

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
newList = [i**2 for i in nums if i%2==0]
print(newList)

[4, 16, 36, 64]