In [ ]:
# COMMENTS
# COMMENTS PROVIDES MEANINGFUL INFORMATION ABOUT YOUR CODE / PROGRAM
# COMMENTS IN PYTHON STARTS WITH #

In [ ]:
# print ()
#built-in function used to display message or result on a screen
print("hello world")
print('welcome to python')
print(10+5) #exclude the '' or "" untuk dapatkan value 10+5

hello world
welcome to python
15

In [ ]:
#sep used to separate value by using whitespace
print('python', 'programming', '')
print(78, 89, 101)
print('python', 'programming', sep=':)')


# sep used to separate value by using a whitespace
print('Python','Programming','Is','Fun','To','Learn')
print(78,89,101)
print('Python','Programming','Is','Fun','To','Learn',sep='-->')

python programming
78 89 101
python:)programming
Python Programming Is Fun To Learn
78 89 101
Python-->Programming-->Is-->Fun-->To-->Learn

In [ ]:
# end used to add \n [newline] at the end of the value
print('Python') #Python\n (\n means new line)
print('Programming')
print ('Nexperts', end='\t') #\t tabspace
print('Academy')
print('Yash')

#By default, python akan buat newline sendiri, if we need tabspace just use \t

Python
Programming
Nexperts	Academy
Yash

In [ ]:
#variables
#a variable is a container for storing the information

age = 23
print(age)


#rules for variables
#rule 1 : a variable can not stars with a number (example 1=abc)
#rule 2: a variable can not have a whitespace (example = first name = 'yash', if nak separate kene letak underscore first_name)

firstname='yash'
print(firstname)

#rule 3: variables are case sensitive
#example rule no 3:
####myName = 'yash'
####print(myname) remove the hashtag to know the error

# Rule 4 : try to avoid using reserved keywords as your variable names
#                   if print help for while def del
##print = 123
#print(print)

23
yash

In [ ]:
#day 2
#data types
#strings in Python
#raw strings
#character escape sequence
#strings in triple quotes
#indexing and slicing
#string formatting

In [ ]:
# data types
#data type defines what kind of a variable can hold

#python is a dynamically typed programming language

# a.) we dont need to write data type before declaring a variable
##example
#in C, c++ java , we need to dataType varname = value;
#int age = 18; (need semicolon)
#in python: varname = value
#age=18 (no need semicolon)

# b.) we can re-assign diff diff values to a variable
##example
#int age = 'eighteen'; // jadi error
#in python: varname = value
#age='eighteen' //no error


#INT one of the data type and it is used to hold a numeric value [positive/negative]

a=18
print(a)

b=-18
print(b)

#type(varname) : used to determine the data type of variable


print(type (a))

#FLOAT used to hold a decimal value

b=90.231
print(b, type (b))

#string: used to hold textual data
c= "python"
print (c, type(c))

#boolean : used to hold either true/false value
d=True #CANNOT WRITE true in lower cases kene True FALSE
print (d, type(d))

18
-18
<class 'int'>
90.231 <class 'float'>
python <class 'str'>
True <class 'bool'>

In [ ]:
#python dev

#take user information

#name
#age 31
#marks
#malaysian

#name = "yash"        #str
#age = 31             #int
#marks = 78.23        #float
#malaysian = True     #boolean value


marks =78.23
print(marks, type(marks))

78.23 <class 'float'>

In [ ]:
a=78
print(type(a))

a = 'seventy eight'

print (type (a))

<class 'int'>
<class 'str'>

In [ ]:
#strings in Python
#raw strings
#character escape sequence
#strings in triple quotes
#indexing and slicing
#string formatting


#strings is a data type used to store textual data

str1 = 'python'
str2 = "programming"
print(type(str1), type(str2))

int1=1234
print(type(int1))

<class 'str'> <class 'str'>
<class 'int'>

In [ ]:
#string is a collection of characters

str1 = 'python is fun to learn'
#p y t h o n
#0 1 2 3 4 5 [index numbers ----> always starts with zero]

print(str1)
print((str1[3]))
print((str1[6]))
print((str1[10]))
#string can be defined using ' or ""

python is fun to learn
h

f

In [ ]:
#indexing and slixing

#1) indexing allow us to retrieve only one single value
#2) indexing is denoted by using [] square brackets

name = 'adibah hasya'

# h a s y a
# 0 1 2 3 4           [forward/positive index numbers]
# -5 -4 -3 -2 -1       [backward/negative index numbers]

print(name[2])
print(name[0])


#dataset
#names

#ali
#abu
#siti
#show me those names starts with letter s
#print (name) if names[0]=='s'

i
a

In [ ]:
course = 'pythonprogramming'
print(course[6:13])

#python not going to print EXCLUSIVE so kene letak extra+1, example as below

#python wont print the exclusive number 13 tu

program

In [ ]:
# Slicing
# slicing allows to retrieve portion / sub-portion of a sequence
# syntax :   varname[startIndex:stopIndex]
# startIndex : index no. from where slicing will begin     INCLUSIVE
# stopIndex  : index no. where slicing will end            EXCLUSIVE

course = "PythonProgramming"
# P  y   t    h    o     n     P    r    o    g    r    a    m    m    i    n    g
# 0  1   2    3    4     5     6    7    8    9   10    11   12   13   14   15   16

print(course)
print(course[6:13])

#pythonpro
print(course[0:9])

#gram
print(course[9:13])

#onPro
print(course[4:9])

#programming
print(course[6:17]) #since 16 is the last one, so kene letak 17. we need the g letters in order to print programming
##print(course[6:170]) #THIS IS WRONG

print(course[6:]) #this is the CORRECT ONE although print(course[6:17]) BETUL tapi

## in slicing if startIndex is missing then slicing will begin from index no. ZERO
print(course[:9])

print(course[:])


# syntax :   varname[startIndex:stopIndex:stepCount/interval]
print(course[6:13:2])   # Program   --> P  o  r  m
print(course[6:13:4])   # Program   --> P r
print(course[6:13:6])

PythonProgramming
Program
PythonPro
gram
onPro
Programming
Programming
PythonPro
PythonProgramming
Porm
Pr
Pm

In [ ]:
name = "yash sharma"

# A D I B A H   H A S Y A
# 0 1 2 3 4 5 6 7 8 9 10 11

#WRITE A PROGRAM (WAP) to print string in a reverse order

print(name[::-1])

amrahs hsay

In [ ]:
#can use list in tuple, dataset, array, series, dataframe

##raw strings

In [ ]:
#raw strings
print('c:\newfolder\test\abc.txt')
print('www.xyz.com\newpage\testdir\products.html')

c:
ewfolder	estbc.txt
www.xyz.com
ewpage	estdir\products.html
c:\newfolder\test\abc.txt

<>:3: SyntaxWarning: invalid escape sequence '\p'
<>:3: SyntaxWarning: invalid escape sequence '\p'
/tmp/ipython-input-889271642.py:3: SyntaxWarning: invalid escape sequence '\p'
  print('www.xyz.com\newpage\testdir\products.html')

In [ ]:
print(r'c:\newfolder\test\abc.txt') # r means raw strings
print(r'www.xyz.com\newpage\testdir\products.html')

c:\newfolder\test\abc.txt
www.xyz.com\newpage\testdir\products.html

In [ ]:
# Character Escape Sequence
#print('I didn't do that') # try use double quote OR put \t at didn't like didn\'t
print ('I didn\t do that')

print("welcome to \"nextperts\" academy") # put \"\" ,


print('welcome to "nextperts\" academy. It\'s awesome')

print("I didn't do THAT. Mr 'john' did this")

I didn	 do that
welcome to "nextperts" academy
welcome to "nextperts" academy. It's awesome
I didn't do THAT. Mr 'john' did this

Gaming Application

Instructions:
a)
b)
c)
  i)
  ii)
  iii)



suppose create a weather report

Kuala Lumpur : 27 degree
New Delhi : 23 degree

In [ ]:
#STRINGS IN TRIPLE QUOTES
print('weather report\n\n\tKuala Lumpur : 27 degree \nNew Delhi    : 23 degree')

weather report

	Kuala Lumpur : 27 degree
New Delhi    : 23 degree

In [ ]:
#using triple QUOTES

print('''

Kuala Lumpur : 27 degree
New Delhi    : 23 degree

''')

Kuala Lumpur : 27 degree
New Delhi    : 23 degree

In [ ]:
#string concatenation /formatting

#concatenation
name = "John"
course = "python"

fees = 1500
#john is learning python and the fees is 1500 RM
#+ operator requires left hand and right hand side value to be of type STRING

print(name+ " is learning " +course) #string concatenantion
print(name,"is learning",course) #no need to worry about space because comma is a space

John is learning python
John is learning python

In [ ]:
# String Concatenation / Formatting
name = "John"
course = "Python"
fees = 1500
# John is learning Python and the fees is 1500RM.
# + operator requires left hand and right hand side value to be of type STRING
print(name+' is learning '+course+' and the fees is '+str(fees)+'RM.')
print(name,'is learning',course,'and the fees is',fees,'RM.')

In [ ]:
##FORMATTING ---> in string formatting variable are defined in curly braces

print(f'{name} is learning {course} and the fees is {fees}RM.')

print(f'{name} is learning {course} and the fees is {fees+0.15}RM.')

John is learning python and the fees is 1500RM.
John is learning python and the fees is 1500.15RM.

In [ ]:
name = "Alex"
qty = 2
item = "T-shirt"
price = 299

# Alex wants to purchase 2 T-shirt worth RM299 each.

print(f'{name} wants to purchase {qty} {item} worth RM{price} each.ðŸ˜ƒ')

Alex wants to purchase 2 T-shirt worth RM299 each.ðŸ˜ƒ

##DAY 3

DAY 3
Type Casting
Taking an user input
Operators

In [ ]:
#DAY 3
#Type Casting
#Taking an user input
#Operators

#Type casting is a process of conversting one data type into another data type

#integer value --> string

age =19
print(age,type(age))
#1) need to ask yourself in which datatype you want to convert int
age = str(age) #to convert this value into string
print(age,type(age))

#SUPPOSE THAT FLOW THE FLOAT INTO INTEGER
#change float value --->int
result = 90.33333
print(result,type(result))
int(result) #ni dia tunjuk integer number which is 90
float(result) #ni dia tunjuk FLOAT number included the decimals


#intValue --->string
#str(value)

19 <class 'int'>
19 <class 'str'>
90.33333 <class 'float'>

90.33333

In [ ]:
# Type casting is a process of converting one data type into another data type

# intValue ---> string
# str(intValue)

# floatValue ---> string #selalu guna
# str(floatValue)

# intValue --> float #selalu guna
# float(intValue)

# floatValue --> int #selalu guna
# int(floatValue)

# boolValue --> string    True ----> 'True'
# str(boolValue)

In [ ]:
#MISTAKE TO AVOID

name = "yash"
print(str(name)) # NOT POSSIBLE to change this string into number

res = "true"
print(bool(res)) #no error

res = "yes"
print(bool(res)) #no error

res = "pass"
print(bool(res)) #no error

res = "fail"
print(bool(res)) #no error

#name = 'yash' #erorr
#print(int(name))

number = 12344
print(int(number))

yash
True
True
True
True
12344

In [ ]:
res = 90.3333223456789
print(res)
print(int(res))

90.3333223456789
90

In [ ]:
#taking an user input
#input() built-in function user to take user input
age = 90
#input(prompt/message)

name = input('Enter Your Name: ')
print('Welcome User :', name)

Enter Your Name: Hasya
Welcome User : Hasya

In [ ]:
print('Enter your Email Address')
email = input()
print("Your email address is", email)

Enter your Email Address
adibahhasyajamari@gmail.com
Your email address is adibahhasyajamari@gmail.com

In [ ]:
#input () function treat every input as a STRING
val1 = input('Enter First Value: ')         # '20'
val2 = input('Enter Second Value: ')        # '30'
res = val1 + val2                             #20 + 30
print('After addition: ', res)

#if val1=20, val2=30, bila print res = val1 + val2 DIA AKAN JADI 2030

Enter First Value: 20
Enter Second Value: 30
After addition:  2030
Enter First Value: 20
Enter Second Value: 30
After addition:  50

In [ ]:
#to solve this issue kene guna type casting, convert this STRING into INT

val1 = int(input('Enter First Value: '))         #20
val2 = int(input('Enter Second Value: '))        #30
res = val1 + val2                             #50
print('After addition: ', res)

Enter First Value: 20
Enter Second Value: 50
After addition:  70

In [ ]:
#Assignment

#name = john
#age = 18
#print Hi John Next Year You Will be 19 Year Old

name = "John"
age = 18
print(f"Hi {name} Next Year You Will be {age + 1} Year Old")

Hi John Next Year You Will be 19 Year Old

In [ ]:
name=input('Enter your name: ')
age=int(input('Enter your age: '))
print(f'Hi',name,'Next Year you will be',age+1,'years old')

Enter your name: Hasya
Enter your age: 20
Hi Hasya Next Year you will be 21 years old

OPERATORS

In [ ]:
#Operators
#Operators are used to perform operations on operands(variables)

#OPERATORS
#1) Arithmetic / Mathematical Operators
# + - * / // % **

a = 90
b = 5
print(a+b) #addition
print(a-b) # subtract
print(a*b) #multiply

print(a/b) #division, it will be in float
print(int(a/b)) #division -> # In Python Division Operator Returns Value In FLOAT, to solve this solution letak int(())
print(a//b) #Floor Division Operator Returns Value in INT

print(a%b) # % [MODULUS OPERATOR]:  will give the remainder value
print(11%2)

print (a**b) #a raise to the power of b, a^b [90 raise to the power of 5] 90*90*90*90*90

95
85
450
18.0
18
18
0
1
5904900000

In [ ]:
print(78**78) #this cannot perform in JAVA

3831589812313461262138726500006414268147534037893115512325908939170687185145438579006950082195309705885134607990418665607337632973770507236843454464

In [ ]:
#point to the remember
#in python we dont have increment or decrement operator

#example
#a=100
#print(a++) , print(a--) it will have syntax error
#increment, decrement is not supported by python [SORRY PEASANT]


a=100
a = a+1
print(a)

101

In [ ]:
from ast import Import
#how to make the number round off like 4.9 to 5 as a result? #will cover in modules packages

import math
print(math.ceil(4.9)) #output = 5
                      #Ceil means ceiling (the top).
print(math.floor(4.9)) # output = 4
                       # It rounds the number up to the nearest integer.

5
4

In [ ]:
#Assgignment Operator
a = 90
print(a)

#compound assignment operator
val1=100
val = val1+1
print(val)

val1 = 100
val -= 1
print(val)

90
101
100

In [ ]:
#comparison operator
# < > <= >= == !=

#Returns Value in Boolean [True / False]
#comparison
print(90<100)
print(10000<100)
print(800==800)

age = 17
print(age>=18)  #  age>18  age==18

print(90!=100)

True
False
True
False
True

Logical Operator
AND or NOT

In [ ]:
#AND operator requires more than one condition
#AND operator returns TRUE only when both the conditions are TRUE

print(100==100 and 50<100)
      #condition 1, 100 == 100 =TRUE
      #condition 2, 50<100   =TRUE
      #both are true

print(100==100 and 50>100)
      #condition 1, 100 == 100 =TRUE
      #condition 2, 50>100   =FALSE
      #one of it false

print(10==100 and 50>100)
      #condition 1, 100 == 100 =TRUE
      #condition 2, 50>100   =FALSE
      #both conditions are false

True
False
False

GAMING APPLICATION

2 REQUIREMENTS

PERSON AGE SHOULD BE >18 CONDITION1
PERSON CITIZENHIP == MALAYSIA

age >=18 (MEANS ABOVE 18) and citizenship == 'malaysian allow you to play the game

In [ ]:
#OR operator requires more than one condition
#OR operator returns TRUE when both the conditions are TRUE
#OR operator returns when both the conditions are FALSE

print(100==100 or 50<100)
      #condition 1, 100 == 100 =TRUE
      #condition 2, 50<100   =TRUE
      #both are true

print(100==100 or 50>100)
      #condition 1, 100 == 100 =TRUE
      #condition 2, 50>100   =FALSE
      #one of it false

print(10==100 or 50>100)
      #condition 1, 100 == 100 =TRUE
      #condition 2, 50>100   =FALSE
      #both conditions are false

True
True
False

In [ ]:
# NOT operator
# inverse the result
# True --> False     False --> True

print(not(100==100 and 50<100))

False

In [ ]:
#Membership Operator
#in not in

name = "John Smith "
print('o' in name)
print('Smith' in name)
print('s' in name) #case sensitive S besar, bukan S kecik sebabtu false
print('mith' in name)
print(' ' in name)

#not in

print('J' not in name) #'J' does not exist in name -FALE, ada 'J'OHN
print('s' not in name)#'s' doesnot exist in name - TRUE because s does not available in the name


print('o' and 'S' in name)

True
True
False
True
True
False
True

![image.png]()