In [ ]:
# COMMENTS
# COMMENTS PROVIDES MEANINGFUL INFORMATION ABOUT YOUR CODE / PROGRAM
# COMMENTS IN PYTHON STARTS WITH #

In [ ]:
# print ()
#built-in function used to display message or result on a screen
print("hello world")
print('welcome to python')
print(10+5) #exclude the '' or "" untuk dapatkan value 10+5

hello world
welcome to python
15

In [ ]:
#sep used to separate value by using whitespace
print('python', 'programming', '')
print(78, 89, 101)
print('python', 'programming', sep=':)')


# sep used to separate value by using a whitespace
print('Python','Programming','Is','Fun','To','Learn')
print(78,89,101)
print('Python','Programming','Is','Fun','To','Learn',sep='-->')

python programming
78 89 101
python:)programming
Python Programming Is Fun To Learn
78 89 101
Python-->Programming-->Is-->Fun-->To-->Learn

In [ ]:
# end used to add \n [newline] at the end of the value
print('Python') #Python\n (\n means new line)
print('Programming')
print ('Nexperts', end='\t') #\t tabspace
print('Academy')
print('Yash')

#By default, python akan buat newline sendiri, if we need tabspace just use \t

Python
Programming
Nexperts	Academy
Yash

In [ ]:
#variables
#a variable is a container for storing the information

age = 23
print(age)

#rules for variables
#rule 1 : a variable can not stars with a number (example 1=abc)
#rule 2: a variable can not have a whitespace (example = first name = 'yash', if nak separate kene letak underscore first_name)

firstname='yash'
print(firstname)

#rule 3: variables are case sensitive
#example rule no 3:
####myName = 'yash'
####print(myname) remove the hashtag to know the error

# Rule 4 : try to avoid using reserved keywords as your variable names
#                   if print help for while def del
##print = 123
#print(print)

23
yash

#DATA TYPE

In [ ]:
#day 2
#data types
#strings in Python
#raw strings
#character escape sequence
#strings in triple quotes
#indexing and slicing
#string formatting

In [ ]:
# data types
#data type defines what kind of a variable can hold